@using Tutorial.ViewModels;

@model LoginVModel;
@{
    ViewData["Title"] = "Connection";
    Layout = "_Layout"; 
}
<div class="row">
    <div class="cold-md-4 offset-md-4">
        @using(Html.BeginForm("login","auth",FormMethod.Post,new{ @id="loginForm" , @class="form" , @role="form"}))
        {
            @Html.ValidationSummary(true, "",new{ @class="text-danger" } )
            @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email,new { @class = "form-control", @type="email", @id="email"})
            @Html.ValidationMessageFor(model => model.Email,"", new {@class="text-danger"})
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new { @class = "form-control", @id="password"})
            @Html.ValidationMessageFor(model => model.Email,"", new {@class="text-danger"})
        </div>
         <button type="submit" id="submit" class="btn btn-primary">Valider</button>  
        }

    </div>
</div>
