@using Tutorial.ViewModels;

@model RegisterViewModel;
@{
    ViewData["Title"] = "Formulaire d'inscription";
    Layout = "_Layout"; 
}

<div class="row">
<div class="col-md-4 offset-md-4">

    @using(Html.BeginForm("register","auth",FormMethod.Post, new { @id = "registerForm", @class = "form", role = "form" }))
    {
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      @Html.AntiForgeryToken()
      <div class="alert alert-danger" id="err-show">
      </div>
       <div class="form-group">
         @Html.LabelFor(model => model.Email)
         @Html.TextBoxFor(Model=> Model.Email,new { @class = "form-control", @type="email"})
         @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
       </div>
        <div class="form-group">
         @Html.LabelFor(model => model.Password)
         @Html.PasswordFor(Model=> Model.Password,new { @class = "form-control", @type="password"})
         @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
       </div>
        <div class="form-group">
         @Html.LabelFor(model => model.Pass_confirm)
         @Html.PasswordFor(Model=> Model.Pass_confirm,new {  @class = "form-control"})
         @Html.ValidationMessageFor(model => model.Pass_confirm, "", new { @class = "text-danger" })
       </div>
        <button type="submit" id="submit" class="btn btn-primary">Valider</button>    
    }
     
</div>
</div> 
@section Scripts{
   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  <script src="~/js/register.js" asp-append-version="true"></script>
}

